.div1{
    background-color: aqua;
    margin: 5px;
    height: 200px;
    text-align: center;
    font-style: large;
    width: 100px;

}
.div2{
    background-color: rebeccapurple;
    margin: 5px;
    height: 200px;
    text-align: center;
    font-style: large;
    
}

/* new stuff to write